@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Light.ttf) format(truetype);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-ExtraBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorSans-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url(../fonts/CrimsonText-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url(../fonts/CrimsonText-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url(../fonts/CrimsonText-SemiBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .container .row_header .hamburger {
  display: none;
}

@media screen and (max-width: 576px) {
  .header .container .row_header .row_field {
    display: none;
  }
  .header .container .row_header .hamburger {
    display: block;
    position: relative;
  }
  .header .container .row_header .hamburger .fa-solid {
    width: 24.06px;
    height: 19.69px;
  }
  .header .container .row_header .hamburger .hamburger_menu {
    display: none;
  }
  .header .container .row_header .hamburger:hover .hamburger_menu {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    margin-right: 4px;
    padding: 10px;
    background-color: green;
    box-shadow: 0px 0px 10px black;
  }
  .header .container .row_header .hamburger:hover .hamburger_menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 30px;
  }
  .header .container .row_header .hamburger:hover .hamburger_menu ul li a {
    text-decoration: none;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #ffffff;
  }
}
.section_header .container .under_head {
  padding: 70px 0;
}
.section_header .container .under_head .row_undesr .welcome2 {
  max-width: 469px !important;
}
.section_header .container .under_head .row_undesr .welcome3 {
  max-width: 466px !important;
}
.section_header .container .under_head .row_undesr .w-50 {
  width: 170px !important;
}

.main_section .container .row_app .app_card .ffff {
  text-align: center;
}
.main_section .container .row_app .row_technology {
  gap: 80px;
}
.main_section .container .row_app .buuton_learnmore {
  padding: 5px 30px;
}
.main_section .container .row_app .connect_with {
  gap: 110px;
}
.main_section .container .row_app .connect_with .connect_info {
  max-width: 552px !important;
}
.main_section .container .row_app .connect_with .connect_info .w-100 {
  width: 170px !important;
}
.main_section .container .row_app .connect_with2 {
  gap: 110px;
}
.main_section .container .row_app .connect_with2 .connect_info {
  max-width: 552px !important;
}
.main_section .container .row_app .connect_with2 .connect_info .w-100 {
  width: 170px !important;
}
.main_section .container .row_app .connect_with2 .welcome3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  /* or 19px */
  /* Color/Dark/50 */
  color: rgba(33, 37, 41, 0.5);
}
.main_section .container .row_app .app_card-2 {
  text-align: center;
}
.main_section .container .row_app .app_card-2 .partneers {
  letter-spacing: 5px;
}
.main_section .container .row_app .team_all_info {
  margin-bottom: 130px;
}
.main_section .container .row_app .team_all_info .team_personal {
  background: #FFFFFF;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 30px;
}
.main_section .container .portfolio_img {
  padding-top: 30px;
}
.main_section .container .learnmore_btn {
  padding-bottom: 15px;
}
.main_section .container .row_cards {
  margin: 78px 0 135px 0;
  gap: 105px;
}
.main_section .container .row_cards .card-1 {
  background: #FFFFFF;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 34px;
  width: 339px;
  text-align: center;
}
.main_section .container .row_cards .card-1 .card_basic {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  /* identical to box height, or 19px */
  color: #000000;
}
.main_section .container .row_cards .card-1 .row_momey h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  /* identical to box height, or 50px */
  color: #000000;
}
.main_section .container .row_cards .card-1 .row_momey p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  /* identical to box height, or 19px */
  /* Color/Dark/50 */
  color: rgba(33, 37, 41, 0.5);
}
.main_section .container .row_cards .card-1 .row_descrip {
  margin-top: 10px;
  width: 279px;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  /* or 19px */
  text-align: center;
  /* Color/Dark/50 */
  color: rgba(33, 37, 41, 0.5);
  margin-bottom: 38px;
}
.main_section .container .row_cards .card-1 .row_mark {
  margin-top: 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  /* identical to box height, or 19px */
  text-align: center;
  /* Color/Dark/100 */
  color: #212529;
}
.main_section .container .row_cards .card-1 .row_mark .fa-solid {
  color: #74C69D;
}/*# sourceMappingURL=main.css.map */