.section_header {
    .container {
        .under_head {
            padding: 70px 0;
            .row_undesr {
                // gap: 0!important;
                .welcome2 {
                    max-width: 469px!important;
                }
                .welcome3 {
                    max-width: 466px!important;
                }
                .w-50 {
                    width: 170px!important;
                }
            }
        }
    }
}

.main_section {
    .container {
        .row_app {
            .app_card {
                .ffff {
                    text-align: center;
                }
            }
            .app_card-c {
                .ffff {
                    text-align: center;
                    width: 400px;
                }
            }
            .row_technology {
                gap: 80px;
            }
            .buuton_learnmore {
                padding: 5px 30px;
            }
            .connect_with {
                gap: 110px;
                .connect_info {
                    max-width: 552px!important;
                    .w-100 {
                        width: 170px!important;
                    }
                }
            }
            .connect_with2 {
                gap: 110px;
                .connect_info {
                    max-width: 552px!important;
                    .w-100 {
                        width: 170px!important;
                    }
                }
            }
            .connect_with2 {
                .welcome3 {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 125%;
                    /* or 19px */
                    /* Color/Dark/50 */
                    color: rgba(33, 37, 41, 0.5);
                }
            }
            .app_card-2 {
                text-align: center;
                .partneers {
                    letter-spacing: 5px;
                }
            }
            .team_all_info {
                margin-bottom: 130px;
                .team_personal {
                    background: #FFFFFF;
                    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    padding: 10px 30px;
                }
            }
        }
        .portfolio_img {
            padding-top: 30px;
            // gap: 10px;
        }
        .learnmore_btn {
            padding-bottom: 15px;
        }
        .row_cards {
            margin: 78px 0 135px 0;
            gap: 105px;
            .card-1 {
                background: #FFFFFF;
                box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                padding: 34px;
                width: 339px;
                text-align: center;
                .card_basic {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 125%;
                    /* identical to box height, or 19px */
                    color: #000000;
                }
                .row_momey {
                    h2 {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 125%;
                        /* identical to box height, or 50px */
                        color: #000000;
                    }
                    p {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 125%;
                        /* identical to box height, or 19px */
                        /* Color/Dark/50 */
                        color: rgba(33, 37, 41, 0.5);
                    }
                }
                .row_descrip {
                    margin-top: 10px;
                    width: 279px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 125%;
                    /* or 19px */
                    text-align: center;
                    /* Color/Dark/50 */
                    color: rgba(33, 37, 41, 0.5);
                    margin-bottom: 38px;
                }
                .row_mark {
                    margin-top: 17px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 125%;
                    /* identical to box height, or 19px */
                    text-align: center;
                    /* Color/Dark/100 */
                    color: #212529;
                    .fa-solid {
                        color: #74C69D;
                    }
                }
            }
        }
        .row_contact {
            padding: 80px 20px;
            .row_form {
                input {
                    width: 575px!important;
                    height: 38px!important;
                    background: #EEEEEE;
                    border: 1px solid #000000;
                    border-radius: 5px;
                }
                textarea {
                    width: 575px!important;
                    height: 75px;
                    background: #EEEEEE;
                    border: 1px solid #000000;
                    border-radius: 5px;
                }
                button {
                    width: 575px!important;
                    height: 48px!important;
                    color: white;
                    background: #212529;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .main_section {
        .container {
            padding-left: 0px!important;
            .row_contact {
                .row_form {
                    input {
                        width: 335px!important;
                        height: 38px!important;
                    }
                    textarea {
                        width: 335px!important;
                        height: 141px!important;
                    }
                    button {
                        width: 335px!important;
                        height: 48px!important;
                    }
                }
                .row_iframe {
                    .embed-responsive {
                        .embed-responsive-item {
                            width: 335px!important;
                            height: 224px!important;
                        }
                    }
                }
            }
        }
    }
}